.cloth-container {
  background-size: cover;
  background-position: left;
}

.cloth-banner {
  height: 40vh;
  background-position: center;
  background-size: cover;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  margin-bottom: 30px;
}

.cloth {
  width: 50vw;
}

.banner-title {
  font-weight: bold;
  color: white;
  font-size: large;
}


.c-about-section {
  display: flex;
  flex-direction: column;
  box-shadow: 5px 5px 8px 5px #888888;
  width: 80vw;
  margin-bottom: 50px;
}

.c-about-one {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.c-about-title {
  text-align: center;
  line-height: 1.2;
  letter-spacing: normal;
  margin: 10px;
}

.c-about-text {
  text-align: left;
  font-size: small;
  letter-spacing: normal;
  line-height: 1.2;
}

.c-about-text-1 {
  text-align: left;
  letter-spacing: normal;
  line-height: 1.2;
  font-size: small;
}

.c-about-desc {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.about-image-1 {
  width: 80vw;
}

.about-image-2 {
  width: 80vw
}

.c-gallery {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}

.c-title {
  font-size: xx-large;
  color: black;
}

.gallery-row {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.gallery-image {
  margin: 10px;
  width: 60vw;
}

.gallery-image2 {
  width: 60vw;
  height: 20vh;
}

/* tablet */
@media only screen and (min-width: 500px) {
  .gallery-image {
    width: 50vw;
  }
}



/* desktop */
@media only screen and (min-width: 768px) {
  .cloth {
    width: 20vw;
  }

  .banner-title {
    font-size: 30px;
  }

  .gallery-row {
    flex-direction: row;
  }

  .gallery-image {
    width: 15vw;
  }

  .gallery-image2 {
    width: 35vw;
    /* height: 10vh; */
  }

  .c-about-section {
    padding: 0;
    width: 70vw;
    align-items: flex-start;
  }
  .c-about-one {
    flex-direction: row;
    padding: 0;
  }

  .c-about-desc {
    width: 30vw;
  }

  .c-about-text {
    width: 20vw;
    font-size: x-small;
  }

  .about-image-1 {
    width: 40vw;
  }

  .c-about-title {
    margin-top: 15px;
    font-size: medium;
  }
  
  .about-image-2 {
    width: 30vw;
    height: 25vh;
    margin-right: 60px;
  }

  .c-about-two {
    display: flex;
    flex-direction: row;
    padding: 0;
    justify-content: center;
    align-items: center;
  }

  .c-about-text-1 {
    width: 35vw;
    font: 100;
  }
}


/* extra large desktop */
@media only screen and (min-width: 1008px) {
  .gallery-image2 {
    width: 35vw;
    height: 20vh;
  }

  .c-about-desc {
    width: 28vw;
    margin: 10px;
  }

  .c-about-text {
    letter-spacing: normal;
    line-height: 1.2;
    width: 25vw;
    font-size: small;
  }
  .about-image-1 {
    width: 41vw;
  
  }
}

@media only screen and (min-width: 1186px) {
  .gallery-image2 {
    width: 30vw;
    height: 25vh;
  }
}

@media only screen and (min-width: 1186px) {
  .gallery-image2 {
    height: 32vh;
  }
}

@media only screen and (min-width: 1200px) {
  .about-image-2 {
    width: 29vw;
    height: 38vh;
    margin-right: 60px;
  }
}