body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif, DancingScript, Gotham;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  overflow-x: hidden;;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}


@font-face {
  font-family: 'Gotham';
  src: local('GothamMedium'), url(./fonts/GothamMedium.ttf) format('truetype');
}

@font-face {
  font-family: 'DancingScript';
  src: local('DancingScript-Regular'), url(./fonts/DancingScript-Regular.ttf) format('truetype');
}

* {
  margin: 0;
  padding: 0;
  border: 0;
  outline: 0;
  font-size: 100%;
  
  background: transparent;
}